<p>uptate works!</p>
<div class="ravi">
  
    <form #contactForm="ngForm">
      <h1 style="text-align: center;color:rgb(239, 229, 229)"><u>Register Form</u> </h1><br><br>
        <div>
          <label for="yname">Your Name:</label>
          <input type="text"  class="form-control" name="yname" [(ngModel)]="record.yname" >
        </div><br>
        <div>
          <label>Email  :</label>
          <input name="email" class="form-control" [(ngModel)]="record.email">
        </div><br>
        <div>
          <label >Phone Number:</label>
          <input name="pnumber" class="form-control"  [(ngModel)]="record.pnumber">
      
        </div><br>
        <div>
          <label >Password:</label>
          <input name="password" class="form-control"  [(ngModel)]="record.password">
        </div><br>
        <div>
          <label >Confirm Password:</label>
          <input name="cpassword" class="form-control" [(ngModel)]="record.cpassword">
        </div><br>
        <div>
          <button type="submit" (click)=" update()" class="btn btn-primary btn-lg">Uptate</button>
          <!-- <button type="submit" (click)=" refreshPeople()">get</button> -->
        <!-- {{editmode?'Update':'Register'}} -->
        </div>
    </form>
    
    </div>