<p>details works!</p>
<app-search (searchchange)="onsearchmethod($event)"></app-search>
<button type="submit" (click)=" refreshPeople()">get</button>
<div>
  <button><a [routerLink]="['/register']">Register</a></button>
<table class='table table-bordered' >
    <thead>
      <tr>
        <th>Your Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Password</th>
        <th>Confirm Password</th>
        <th>id</th>
        <th>delete</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let records of person;">
        <ng-container *ngIf="searchpar === '' || records.yname.toLowerCase().includes(searchpar)">
        <td>{{records.yname}}</td>
        <td>{{records.email}}</td>
        <td>{{records.pnumber}}</td>
        <td>{{records.password}}</td>
        <td>{{records.cpassword}}</td>
        <td>{{records.id}}</td>

        <td><button (click)="ondelete(records.id)">delete</button></td>
        <td><button (click)="onedit2(records.id)">Edit</button></td>
        <td><button [routerLink]="['/uptate',records.id]">Edit3223</button></td>
        <!-- (click)="onedit2(records.id)" -->
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

